@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    @apply hidden;
  }
  html,
  body {
    @apply h-full cursor-fancy scroll-p-8 scroll-pt-vmax scroll-smooth font-content selection:bg-sea dark:selection:text-black;
  }
  a {
    @apply cursor-fancyHover underline decoration-paleBlue decoration-solid underline-offset-8 hover:decoration-wavy;
  }
  h1 {
    @apply font-heading text-3xl;
  }
  h2 {
    @apply mb-5 font-heading text-2xl;
  }
  h3 {
    @apply relative font-heading text-lg font-bold sm:mt-12 sm:mb-px sm:py-1 md:mt-20 md:py-4;
  }
  h4 {
    @apply pt-10 pb-2 font-heading text-md2 font-bold text-emerald-600;
  }
  h5 {
    @apply text-base;
  }
  p:not(blockquote p, ul p) {
    @apply pt-2;
  }
  blockquote p {
    @apply sm:leading-5 md:leading-6;
  }
  blockquote label {
    @apply mb-3 inline-block rounded-2xl px-2 text-sm font-bold uppercase leading-6 tracking-wider text-white;
  }
  blockquote label.green {
    @apply bg-emerald-600 before:content-['information'];
  }
  blockquote label.red {
    @apply bg-red-500 before:content-['important'];
  }
  blockquote label.orange {
    @apply bg-orange before:content-['tldr'];
  }
  blockquote {
    @apply my-4 rounded-md bg-smokeWhite text-mono dark:bg-smokeBlack sm:py-4 sm:px-4 sm:leading-6 md:py-5 md:px-5 md:leading-7;
  }
  p > br {
    @apply block border-b-[0.7rem] border-transparent content-[''];
  }
  ul {
    @apply list-disc sm:pl-4 sm:leading-5 md:pl-6 md:leading-7;
  }
  ol {
    @apply list-decimal pt-4 pl-4;
  }
  ul > li::marker {
    @apply text-paleBlue;
  }
  li:has(ul) ul {
    @apply sm:leading-4 md:leading-6;
  }
  li:has(> b)::marker {
    @apply animate-pulse text-red-600;
  }
  ul ul:not(.ch-scrollycoding-step-content > ul) {
    @apply list-circle text-base sm:pl-2 sm:pb-1 sm:leading-5 md:pl-3 md:pb-3 md:leading-6;
  }
  ul ul code,
  blockquote p code,
  blockquote li code {
    @apply text-mono;
  }
  ul ul ul li {
    @apply list-square pb-px pl-1 text-base leading-5;
  }
  button {
    @apply cursor-fancyHover;
  }
  button:disabled {
    @apply cursor-fancy;
  }
  p code,
  li code {
    @apply mx-px rounded-md bg-lightGray px-1 py-px align-top font-mono text-base;
  }
  b {
    @apply bg-stripes-cyan mx-px px-1;
  }
  q {
    @apply bg-highlight-paleYellow dark:bg-highlight-bora;
  }
  cite {
    @apply flex justify-end not-italic before:mr-1 before:content-['-'];
  }
  figcaption {
    @apply flex items-center justify-center text-mono;
  }
  sup > a {
    @apply mx-px text-jadu no-underline hover:font-bold;
  }
  small {
    @apply flex justify-start pl-px text-mono capitalize before:mr-1 before:content-['-'] sm:-mt-2 sm:mb-2 md:-mt-4 md:mb-4;
  }
  hr {
    @apply my-10 sm:my-6;
  }
  details {
    @apply rounded-lg p-5 open:bg-white open:shadow-md open:ring-1 open:ring-black/5 dark:open:bg-slate-900 dark:open:ring-white/10;
  }
}

@layer components {
  #__next {
    @apply h-full w-full;
  }
  .wrap {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply flex h-6 w-6 items-center justify-center rounded-full border-t border-neutral-200;
  }
  .avartar {
    @apply inline-block h-12 w-12 rounded-full ring-2 ring-white;
  }
  .anchor-link {
    @apply absolute -translate-x-10 opacity-0 duration-150;
  }
  h3:hover .anchor-link {
    @apply opacity-100;
  }
}

@layer utilities {
  .keep-all {
    word-break: keep-all;
  }
  .align-text-20 {
    vertical-align: -20%;
  }
  .align-text-17 {
    vertical-align: -17%;
  }
  #footnote-label,
  .data-footnote-backref {
    display: none;
  }
  .writing-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .word-arita {
    word-spacing: 0.1em;
  }
  .word-safari {
    word-spacing: 0.4em;
  }
  .word-tightest {
    word-spacing: -0.85em;
  }
  .blue-dot {
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid rgb(102, 153, 204);
    background-color: rgb(102, 153, 204);
    margin: 8px;
  }
  .white-dot {
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid;
    margin: 8px;
  }
  .bg-stripes-gray {
    background-color: #9ca3af1a;
    background-image: linear-gradient(
      135deg,
      #6b728080 10%,
      transparent 0,
      transparent 50%,
      #6b728080 0,
      #6b728080 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-cyan {
    background-color: #22d3ee1a;
    background-image: linear-gradient(
      135deg,
      #06b6d480 10%,
      transparent 0,
      transparent 50%,
      #06b6d480 0,
      #06b6d480 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-sky {
    background-color: #38bdf81a;
    background-image: linear-gradient(
      135deg,
      #0ea5e980 10%,
      transparent 0,
      transparent 50%,
      #0ea5e980 0,
      #0ea5e980 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-blue {
    background-color: #60a5fa1a;
    background-image: linear-gradient(
      135deg,
      #3b82f680 10%,
      transparent 0,
      transparent 50%,
      #3b82f680 0,
      #3b82f680 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-indigo {
    background-color: #818cf81a;
    background-image: linear-gradient(
      135deg,
      #6366f180 10%,
      transparent 0,
      transparent 50%,
      #6366f180 0,
      #6366f180 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-violet {
    background-color: #a78bfa1a;
    background-image: linear-gradient(
      135deg,
      #8b5cf680 10%,
      transparent 0,
      transparent 50%,
      #8b5cf680 0,
      #8b5cf680 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-purple {
    background-color: #c084fc1a;
    background-image: linear-gradient(
      135deg,
      #a855f780 10%,
      transparent 0,
      transparent 50%,
      #a855f780 0,
      #a855f780 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-fuchsia {
    background-color: #e879f91a;
    background-image: linear-gradient(
      135deg,
      #d946ef80 10%,
      transparent 0,
      transparent 50%,
      #d946ef80 0,
      #d946ef80 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-pink {
    background-color: #f472b61a;
    background-image: linear-gradient(
      135deg,
      #ec489980 10%,
      transparent 0,
      transparent 50%,
      #ec489980 0,
      #ec489980 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-white {
    background-image: linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.75) 10%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.75) 0,
      hsla(0, 0%, 100%, 0.75) 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
  }

  .bg-highlight-paleYellow {
    background-image: linear-gradient(
      transparent calc(50% - 8px),
      #f7e596 calc(50% - 8px)
    );
    background-size: 100% 220%;
  }
  .bg-highlight-bora {
    background-image: linear-gradient(
      transparent calc(50% - 9px),
      darkslateblue calc(50% - 9px)
    );
    background-size: 100% 220%;
  }
}

.ch-codeblock,
.ch-codegroup {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  @apply !mt-2 !shadow-md !drop-shadow-md;
}

.ch-codeblock:where(li li > div),
.ch-codegroup:where(li li > div) {
  @apply !mb-4 !mt-2;
}

/*
  note: Code Hike
  Scroll 전체화면 설정 */
.ch-code-browser-content > div,
.ch-code-browser-content > div > span {
  @apply h-6;
}
.ch-spotlight,
.ch-scrollycoding {
  @apply !mt-1 flex-row-reverse;
}
.ch-scrollycoding-content {
  @apply !flex-grow-0 !basis-1/4;
}
.ch-scrollycoding-sticker {
  @apply !flex-grow;
}
.ch-scrollycoding-step-content {
  @apply !px-px !py-2;
}
.ch-scrollycoding-step-content ul {
  @apply pr-6;
}
.ch-spotlight-tab li {
  @apply py-3;
}
.ch-spotlight-tab li::marker {
  @apply leading-none;
}

/* Scroll 제목&설명탭 설정 */
.ch-scrollycoding-step-content p,
.ch-scrollycoding-content li,
.ch-scrollycoding-content code,
.ch-spotlight-tab p,
.ch-spotlight-tab li,
.ch-spotlight-tab code {
  @apply text-mono leading-6;
}
/* 기본화면 설정 */
.ch-code-scroll-content {
  @apply !w-[660px];
}
/* Scroll 모바일 화면 */
.ch-scrollycoding-static > p {
  @apply pt-7;
}

/*
폰트설정:
영어-한글-모노 */
@font-face {
  font-family: "Arita";
  src: url("/fonts/Arita.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "LeferiPointSpecial";
  src: url("/fonts/LeferiPointSpecial.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "GrapeNuts";
  src: url("/fonts/GrapeNuts-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
